.recipe-detail {
    width: 400px;
    margin: 20px auto;
}

.recipe-detail ul {
    margin: 10px 0;
    padding-left: 18px;
}

.recipe-detail li {
    font-size: 13px;
    color: #639922;
    margin: 2px 0;
}

.card-actions {
    display: flex;
    gap: 12px;
    margin-top: 14px;
}

.btn {
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 14px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-update {
    background: #ffffff;
    color: black;
    border: 1px solid #639922;

}

.btn-delete {
    background: #ffffff;
    color: #b3261e;
    border: 1px solid #b3261e;
}
